
.container-fluid {
    //padding: 0 !important;
}

.nav-link {
    //padding: .5rem 0.5rem!important;
}

.modal-dialog {
    //height: 100%;
    //overflow: scroll;
    //height: calc(100% - 200px);
    //overflow: scroll;

}


// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

// Variables
@import 'variables';


// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';


//@import '~font-awesome/css/font-awesome.css';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';


//@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vueperslides/dist/vueperslides.css';


body {
    //font-family: 'Source Sans Pro', sans-serif !important;
    //font-family: 'Cabin', sans-serif !important;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #212529;

}

@media (min-width: 756px) {
    //.modal-dialog {
    //  max-width: 700px;
    //  margin: 1.75rem auto;
    //}

}

.bg-primary {
    background-color: #007bff !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.btn-info {
    color: white;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.badge-info {
    color: white;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled):active {
    background-color: #117a8b;
    border-color: #10707f;
}

.btn-info.focus, .btn-info:focus, .btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}


.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0;
}

html,
body {
    height: 100%;
}

#app {
    height: 100%;
}

.index {
    height: 100%;
}

.body {
    color: #fff;
    //background-color: white !important
}


.modal {
    display: block;
}

.index {
    width: 100%;
    //background-color: white
}

.slide-show-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


}


.sidebar {
    text-align: center;

    .side-bar-title-container {

        font-weight: 900;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .side-bar-title {
            margin-left: 0.5rem;
        }

    }
}


@media screen and (min-width: 456px) {

    //.sidebar {
    //  text-align: left;
    //
    //  .side-bar-parent{
    //    padding-left: 10px;
    //    padding-right: 10px;
    //  }
    //
    //  .side-bar-title-container {
    //    justify-content: flex-start;
    //
    //    .side-bar-title {
    //
    //    }
    //
    //  }
    //}


}


@media (min-width: 456px) {
    .modal-dialog {
        //max-width: 600px;
        /*margin: 1.75rem auto;*/
        //margin-left: 15px;
        //margin-right: 15px;
    }
}

.fr-emoticon {
    background-repeat: no-repeat !important;
    font-size: inherit;
    height: 1em;
    width: 1em;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -.1em .1em .1em;
    line-height: 1;
    vertical-align: middle;
}

.large-font {
    font-size: 1.25rem;
    font-weight: 600;
    color: #495057;
}

.large-button{
    font-size: 1.25rem;
    font-weight: 600;
}


.search-component {
    font-size: 1.25rem;
    font-weight: 600;
    color: #495057;

   .btn{
       font-size: 1.25rem;
    }

    input {
        padding: 1.5rem;
        font-size: 1.25rem;
    }


}

//forms!

.way-form {

    .form-group {
        label {
            font-size: 1.25rem;
            font-weight: 600;
            color: #495057;
        }

        input {
            padding: 1.5rem;
            font-size: 1.25rem;
        }

        .input-file{
            padding: 0;
        }

        .fr-box.fr-basic .fr-element {
            font-size: 1.25rem;
        }

    }
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
    display: none;
}

#logo{
    display: none!important;
}
